# 2362. Generate the Invoice

## Table: Products

| Column Name | Type |
|-------------|------|
| product_id  | int  |
| price       | int  |

`product_id` contains unique values. Each row in this table shows the ID of a product and the price of one unit.

## Table: Purchases

| Column Name | Type |
|-------------|------|
| invoice_id  | int  |
| product_id  | int  |
| quantity    | int  |

`(invoice_id, product_id)` is the primary key (combination of columns with unique values) for this table. Each row in this table shows the quantity ordered from one product in an invoice.

Write a solution to show the details of the invoice with the highest price. If two or more invoices have the same price, return the details of the one with the smallest `invoice_id`.

Return the result table in any order.

The result format is shown in the following example.

## Example 1:

**Input:**

Products table:

| product_id | price |
|------------|-------|
| 1          | 100   |
| 2          | 200   |

Purchases table:

| invoice_id | product_id | quantity |
|------------|------------|----------|
| 1          | 1          | 2        |
| 3          | 2          | 1        |
| 2          | 2          | 3        |
| 2          | 1          | 4        |
| 4          | 1          | 10       |

**Output:**

| product_id | quantity | price |
|------------|----------|-------|
| 2          | 3        | 600   |
| 1          | 4        | 400   |

**Explanation:**

- Invoice 1: price = (2 * 100) = $200
- Invoice 2: price = (4 * 100) + (3 * 200) = $1000
- Invoice 3: price = (1 * 200) = $200
- Invoice 4: price = (10 * 100) = $1000

The highest price is $1000, and the invoices with the highest prices are 2 and 4. We return the details of the one with the smallest ID, which is invoice 2.

In [1]:
import pandas as pd

def generate_the_invoice(products: pd.DataFrame, purchases: pd.DataFrame) -> pd.DataFrame:
    int_df = pd.merge(purchases,products,on='product_id')
    int_df['total'] = int_df['quantity'] * int_df['price']
    int_df = int_df.groupby('invoice_id').sum('total').reset_index()
    int_df = int_df.loc[int_df['total'] == int_df['total'].max()]
    int_df = int_df.loc[int_df['invoice_id'] == int_df['invoice_id'].min()]

    output_df = pd.merge(purchases[purchases['invoice_id'] == int_df['invoice_id'].values[0]],
            products,
            on='product_id')

    output_df['price'] = output_df['price'] * output_df['quantity']

    return output_df[['product_id','quantity','price']]

In [2]:
products_data = [
    {"product_id": 1, "price": 100},
    {"product_id": 2, "price": 200},
]

purchases_data = [
    {"invoice_id": 1, "product_id": 1, "quantity": 2},
    {"invoice_id": 3, "product_id": 2, "quantity": 1},
    {"invoice_id": 2, "product_id": 2, "quantity": 3},
    {"invoice_id": 2, "product_id": 1, "quantity": 4},
    {"invoice_id": 4, "product_id": 1, "quantity": 10},
]

products = pd.DataFrame(products_data)
purchases = pd.DataFrame(purchases_data)

In [3]:
generate_the_invoice(products=products,purchases=purchases)

   product_id  quantity  price
0           2         3    600
1           1         4    400